@import "materialize";

/* NAV BAR */
.nav-wrapper {
  height: 80px;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}

#navsearch {
  float: right;
  display: inline-block;
}


/* Search Result Page */
#job-title {
  color: #2A4EFC;
}
